<!-- footer section starts -->
{% load static %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">


<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>تواصل معنا</h3>
          <a text-align="center"  href="#">  <i class='fab fa-twitter' style='font-size:20px'> </i></a>
          <a href="#">  <i class="fab fa-instagram" style='font-size:20px'> </i></a>
          <a href="#">  <i class="fab fa-whatsapp" style='font-size:20px'> </i></a>
      </div>


      <div class="box">
          <h3>مقصورة اللعب</h3>
          <a href="#">سياسة الخصوصية</a>
          <a href="#"> من نحن</a>
          <a href="#">الأسئلة الشائعة</a>
          <a href="#">إنجازاتنا ومشاركاتنا </a>
      </div>


      <div class="box">
          <h3>موقعنا </h3>
          <p>المملكة العربية السعودية-الرياض</p>
      </div>



  </div>

  <div class="credit"> created by <span> AMMR </span> | all rights reserved </div>

</section>

<!-- footer section ends -->
