

<!-- I think we don't need this line .

<meta name="viewport" content="width=device-width, initial-scale=1">
-->

<!-- These to linke allow us to use icons-->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>

    <div class="copyright">
      <p>&copy 2023 - GameTruck </p>
    </div>

    <div class="social">

     <p class="btn">
      <i class="material-icons"  class="btn" style="font-size:10px;color:rgb(0, 0, 0)">mail_outline</i>
      <a class="support" >Contact Us</a>
     </p>

     <p class="btn">
        <i class="material-icons"  class="btn" style="font-size:10px;color:rgb(0, 0, 0)">facebook</i>
        <a href="#" class="face" >Facebook</a>
    </p>

<!-- فيه مشكلة في ايقونة التويتر ماتظهر---> 
    <p class="btn">
        <i class="fab" class="btn" style="font-size:10px;color:rgb(0, 0, 0)">&#xf099;</i>
        <a href="#" class="tweet" >Twitter</a>
    </p>

    <p class="btn">
        <i class="fa fa-instagram" class="btn" style="font-size:20px;color:rgb(0, 0, 0)"></i>
        <a href="#" class="instagram" >Instagram</a>
    </p>

    <p class="btn">
      <i  class="btn" style="font-size:10px;color:rgb(0, 0, 0)"></i>
      <a href="#" class="" >Whatsapp</a>
  </p>

    </div>
  </footer>

  <style>

/*
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);
*/

* {
  margin: 0;
  padding: 0;
}


.btn {
  background-color: rgb(191, 191, 191); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 2px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/*
html, footer {
  font-family: Raleway, sans-serif;  
  background-color: #fff;
}
*/


.instagram {
  /*background-color: rgb(145, 106, 106);*/
  color: #fff;
  font-size: 15px;
  width: 40%;
}

.face {
  /*background-color: rgb(145, 106, 106);*/
  color: #fff;
  font-size: 15px;
  width: 40%;
}

.tweet {
  /*background-color: rgb(145, 106, 106);*/
  color: #fff;
  font-size: 15px;
  width: 40%;
}

.support {
  /*background-color: rgb(145, 106, 106);*/
  color: #fff;
  font-size: 15px;
  width: 40%;
}


  </style>
  