<!-- footer section starts -->
{% load static %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}">


<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>تواصل معنا</h3>
          <a text-align="center"  href="#">  <i class='fab fa-twitter' style='font-size:20px'> </i></a>
          <a href="https://www.instagram.com/truck_game2/">  <i class="fab fa-instagram" style='font-size:20px'> </i></a>
          <a href="#">  <i class="fab fa-whatsapp" style='font-size:20px'> </i></a>
      </div>


      <div class="box">
          <h3>مقطورة العاب</h3>
          <a href="rules">سياسة الخصوصية</a>
          <a href="about"> من نحن</a>
          <a href="questions">الأسئلة الشائعة</a>
          <a href="achievements">إنجازاتنا ومشاركاتنا </a>
      </div>


      <div class="box">
          <h3>موقعنا </h3>
          <h>المملكة العربية السعودية-الرياض</h>
      </div>



  </div>

  <div class="credit"> created by <span> amal-mariam-muna-raghad </span> | all rights reserved </div>

</section>

<!-- footer section ends -->
