{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="description" content="Truck Game">
    <title>Truck Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
<body> 
    
        <div class="content">
          <h3>Truck Game </h3>
          <span><b>Let the happinese be everywhere</b></span>
          <p>The first entertainment, educational and interactive truck in the Kingdom of Saudi Arabia</p>
          <p>We participate in concerts and festivals</p>    
          <a herf="#" class="btn" >shop now</a> 
        </div>
   
</body>
</html>