{% include 'Partss/header.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="description" content="Truck Game">
    <title>Truck Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
<body> 
    <section class="home" id="home">

        <div class="content">
        
          <h1>Truck Game </h1>
          <h2><b>Let the happinese be everywhere</b></h2>
          <p>The first entertainment, educational and interactive truck in the Kingdom of Saudi Arabia</p>
          <p>We participate in concerts and festivals</p>    
          <a herf="#" class="btn" >shop now</a> 
        </div>
    </section>
</body>
</html>
{% endblock content %}

{% include 'Partss/footer.html' %}
