{% include 'Partss/header.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="description" content="Truck Game">
    <title>Truck Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
<body> 
    <section class="home" id="home">

        <div class="content">
          
          <img src=".././../static/image/logo2.png" aria-posinset="center" width="250" height="200">
          <br/>
          
          <span><b>Let the happinese be everywhere</b></span><br/>
          <p><b>The first entertainment, educational and interactive truck in the Kingdom of Saudi Arabia</b></p>
          <p>We participate in concerts and festivals</p> 
             
          <h2>(إن أرضيناك فتحدث عنا، وإن لم نرضك فتحدث إلينا)
          </h2>
          <br/>

          <a herf="#" class="btn" >shop now</a> 
        </div>
    </section>
</body>
</html>
{% endblock content %}

{% include 'Partss/footer.html' %}
